.page3Container {
    height: calc(100vh - 11.5rem);
    position: relative;
}
.configbtnContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.configFullForm{
    overflow: auto;
    height: calc(100vh - 18rem);
}
.configbtn {
    padding: 10px;
    width: 5rem;
    z-index: 1;
    white-space: nowrap;
}
.configbtnLong { width: 7rem; }


.configSpecificsContainer {
    display: flex;
    align-items: center;
    gap: 5px;

    border: 1px dashed white;
    border-radius: 20px;
    padding: 6px 15px;
}
.configSpecificsTitle { margin-right: 10px; }
.configSpecificsInput {
    width: 30px;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px
}
.configSpecificsBtn {
    width: 30px;
    padding: 5px 8px;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: bolder;
}


.active {
    background: 
    linear-gradient(to right, black , black) padding-box,
    linear-gradient(to right, rgb(36, 119, 243) , rgb(36, 243, 231)) border-box;
    border-radius: 50em;
    border: 3px solid transparent;
}


.configTitleContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}
.configTitle {
    font-size: 1.3rem;
    white-space: nowrap;
    z-index: 1;
}
.configHr {
    width: 100%;
    background-color: white; border: 1px solid white;
    z-index: 1;
}




.configSaveSettings {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: .9rem;
}
.configTestBtn {
    font-size: 1.1rem;
    padding:12px 20px;
    border: none;
    border-radius: 22px;
}
.configSaveBtn {
    padding: 5px 8px;
}
.configSaveSettings, .configTestBtn, .configSaveBtn { z-index: 1; }


.configbottomNavBtns {
    display: flex;
    justify-content: space-between;
    position:absolute;
    bottom: 0px;
    width: calc(100% - 4rem);
    margin: 40px 28px;
    
}
.backbtn {
    position: relative; top: .5px;
    font-size: 1.8rem;
    border: none;
    background-color: black;
    font-weight: bolder;
    
    background: linear-gradient(to right, rgb(36, 119, 243) , rgb(36, 243, 206));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-height: 835px) {
    .page3Container {
        min-height: 39rem;
    }
    .configFullForm{
        height: 35rem;
    }
    .configbottomNavBtns { bottom: -2.3rem; }
}

@media screen and (max-width: 550px) {
    .configbottomNavBtns {
        bottom: 3px;
        width: calc(100% - 2.15rem); margin: 40px 12px;
    }
    .configTestBtn {
        font-size: .9rem;
    }
}

@media screen and (max-width: 550px) and (max-height: 835px) {
    .configbottomNavBtns { /*---------------------------------------------------------------------------------------------*/
        bottom: -2.1rem;
        width: calc(100% - 2.15rem); margin: 40px 12px;
    }
}

@media screen and (max-width: 380px) {
    #setAsDefault {
        display: none;
    }
}