.keySetBtn {
    display: inline-block;
    font-size: 1.8rem;

    padding: 26px 0px;
    margin-bottom: 10px;
    z-index: 1;
    font-weight: normal;
}

.keySetBtnContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: calc(100vh - 250px);
    min-height: 450px;
    max-height: 600px;
    margin: 0px 20px 0px;
}

@media screen and (max-width: 750px) {
    .keySetBtn {
        font-size: 1.5rem;
        padding: 1rem;
    }
}
@media screen and (max-width: 450px) {
    .keySetBtn {
        font-size: 1.1rem;
        padding: .8rem;
    }
    .keySetBtnContainer {
        margin: 0px;
        gap: 2px;
    }
}