.keySetBtn {
    display: inline-block;
    font-size: 1.8rem;

    padding: 20px 0px;
    margin-bottom: 10px;
    z-index: 1;
}

.keySetBtnContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: calc(100vh - 250px);
    min-height: 450px;
    max-height: 600px;
}