.endGameHeading {
    text-align: center;
}

.endGameScoresContainer {
    height: 300px;
}

.endGameBtnContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;

    
    border: 2px solid red;
}
.endGameHomeBtn {
    border: 2px solid red;

}

.endGameReplayContainer {
    border: 2px solid red;
    min-width: 200px;

}