:root {
    --tileH: 40px;
}

.arrow-keys-grid {
    display: grid;
    width: calc(var(--tileH) * 3);
    height: calc(var(--tileH) * 2);

    grid-template-columns: var(--tileH) var(--tileH) var(--tileH);
    grid-template-rows: var(--tileH) var(--tileH) var(--tileH);
}

.arrow-keys-tile {
    display: inline-block;
    text-align: center;
    line-height: 35px;
    margin: 1px;

    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;

    font-size: 1rem;
}

.flashcardOptionBtns {
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 10px;
    margin: 2px 5px;
}