/* SHARE NAV ----------------------------------------------------------------------------------- */
.navPadding {
    height: 55px;
}

/* BAR NAV ------------------------------------------------------------------------------------- */
.navBarContainer {
    display: flex;
    gap: 20px;
    align-items: center;

    padding: 8px 15px;
    margin-bottom: -16px;
    z-index: 5;
}

.homeDesktopLogo { margin-left: 10px; }

.hrNB {
    display: inline-block;
    width: 100%;
    height: 1px;

    border-color: black;
    background-color: white;
}

.profileButton {
    display: inline-block;

    color: white;
    padding: 8px 10px;

    border-radius: 12px;
    background-image: linear-gradient(to right, rgb(36, 119, 243) , rgb(36, 243, 231));
}
.profileButton2 {
    width: 220px;
    color: white;
    white-space: nowrap;
    font-size: 1rem;
    padding: 8px 5px;

    border: none;
    border-radius: 12px;
    background-image: linear-gradient(to right, rgb(36, 119, 243) , rgb(36, 243, 231));

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.navBarItem, .activeNavBarItem { text-decoration: none; font-size: 1.1rem; }
.navBarItems {
    display: flex;
    gap: 25px;
}
.navBarItem {
    color: white;
    text-decoration: none;
    font-weight: lighter;
}
.activeNavBarItem {
    font-weight: bold;
    background: linear-gradient(to right, rgb(36, 119, 243) , rgb(36, 243, 206));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* MOBILE NAV ---------------------------------------------------------------------------------- */
.navMobileContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;

    height: 40px;
    width: calc(100% - 20px);
    overflow: hidden;
    transition: height .2s;
    transition-timing-function: ease-out;

    font-size: 1.5rem;
    padding: 10px;

    background-color: rgb(12, 13, 30);
    z-index: 5;
}

.navMobileIconSpace { width: 40px; }
.navMobileTopContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navMobileProfile {
    background: linear-gradient(to right, rgb(90, 151, 243) , rgb(110, 246, 221));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    width: 30px;
    margin-bottom: 3px;
}
.navMobileLogin {
    color: white;
    font-size: 30px;
    width: 30px;
    margin-bottom: 1px;
}
.hamBtn {
    border: none;
    background-color: rgb(12, 13, 30);
}
.loginNavBtn {
    border: none;
    background-color: rgb(12, 13, 30);
    margin: 0px;
    padding: 0px;
}
.ham {
    color: white;
    font-size: 25px;
}