.page2Container {
    height: calc(100vh - 11.8rem);
    position: relative;
}

.avgAccuracyRecallBlock{
    height: 32vh;
    min-height: 16rem;
    overflow-y: scroll;
}

.scoreDisplayBox {
    display: inline-block;
    width: 35px;
    height: 25px;

    font-size: 1rem;
    text-align: center;
    line-height: 25px;

    border: 1px solid white;
    background-color: black;
    padding: 10px

}
.scoreDisplayBoxLeft { border-radius: 20px 0px 0px 20px;}
.scoreDisplayBoxRight { border-radius: 0px 20px 20px 0px;}
.scoreDisplayBoxContainer {
    text-align: center;
    display: inline-block;
}

.singleNoteScoreInfoContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.avgTitleContainer {
    display: flex;
    align-items: center;
    margin: 0px 25px;
}
.avgTitle {
    font-size: 1.2rem;
    width: 20rem;
}
.avgHr {
    width: 100%;
    height: 1px;
    color:white;
    background-color: white;
}


.gameInfoTestBtnContainer {
    position: absolute;
    right: 10px;
}
.gameInfoBtn, .testBtn { font-size: 1.1rem;}
.gameInfoBtn {
    padding:10px;
    margin-right: 20px;
}
.testBtn {
    padding:12px 20px;
    border: none;
    border-radius: 22px;
}


.page2Block {
    margin: 0px 0px 10px;
    text-align: center;
    padding-right: 5px;
}

.MasteryAverageTextBox {
    width: 60px;
    height: 35px;
    font-size: .9rem;
    text-align: center;
    border-radius: 18px;
}
.MasteryAverageText {
    width: 150px;
    font-size: 1.1rem;
    margin-bottom: 5px;
}
.MasteryAverageContainer {
    display: inline-block;
    margin: 10px;
}




.bottomNavBtns {
    display:flex;
    align-items: center;
    position: absolute;
    bottom: 0px;
    width: calc(100% - 4rem);
    margin: 40px 30px;
}
.backbtn {
    font-size: 1.8rem;
    border: none;
    background-color: black;
    font-weight: bolder;
    
    background: linear-gradient(to right, rgb(36, 119, 243) , rgb(36, 243, 206));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.moreTestingRequired {
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
    border: 2px dashed rgb(158, 158, 158);
    width: auto;
    border-radius: 2rem;
    padding: 1rem;
}





@media screen and (max-height: 835px) {
    .page2Container {
        height: calc(100vh - 11.5rem);
        min-height: 39rem;
    }
    .bottomNavBtns{ bottom: -2rem;}
}

@media screen and (max-width: 750px) {
    .page2Container {
        height: calc(100vh - 10.5rem);
        min-height: 40rem;
    }
}

@media screen and (max-width: 550px){
    .MasteryAverageTextBox { width: 100%; }
    .MasteryAverageText { text-align: start; }
    .MasteryAverageContainer {
        margin: 0px 0px 10px;
        width: calc(100% - 0px);
    }
    .page2Block {
        margin: 0px 0px 0px;
        align-items: baseline;
    }

    .avgTitleContainer { margin: 0px; }
    .avgHr { margin-left: 10px; }
    .avgTitle {
        font-size: 1.1rem;
        white-space: nowrap;
    }

    .singleNoteScoreInfoContainer {
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
    }
    .scoreDisplayBox {
        display: inline-block;
        width: 35px;
        height: 25px;
    
        font-size: 1rem;
        text-align: center;
        line-height: 25px;
    
        border: 1px solid white;
        background-color: black;
        padding: 10px
    
    }
    .scoreDisplayBoxLeft { border-radius: 20px 0px 0px 20px;}
    .scoreDisplayBoxRight { border-radius: 0px 20px 20px 0px;}
    .scoreDisplayBoxContainer {
        text-align: center;
        display: block;
    } 
}

@media screen and (max-width: 750px) and (min-height: 835px) {
    .page2Container {
        height: calc(100vh - 11.8rem);
        min-height: 39rem;
    }
}

@media screen and (max-width: 290px) {
    .scoreDisplayBoxLeft { border-radius: 0px;}
    .scoreDisplayBoxRight { border-radius: 0px;}
}