.scoreDisplayBox {
    display: inline-block;
    width: 35px;
    height: 25px;

    font-size: 1rem;
    text-align: center;
    line-height: 25px;

    border: 1px solid white;
    background-color: black;
    padding: 10px

}
.scoreDisplayBoxLeft { border-radius: 20px 0px 0px 20px;}
.scoreDisplayBoxRight { border-radius: 0px 20px 20px 0px;}
.scoreDisplayBoxContainer {
    text-align: center;
}

.singleNoteScoreInfoContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.avgTitleContainer {
    display: flex;
    align-items: center;
    margin: 0px 25px;
}
.avgTitle {
    font-size: 1.2rem;
    width: 20rem;
}
.avgHr {
    width: 100%;
    height: 1px;
    color:white;
    background-color: white;
}


.gameInfoTestBtnContainer {
    position: absolute;
    right: 10px;
}
.gameInfoBtn, .testBtn { font-size: 1.1rem;}
.gameInfoBtn {
    padding:10px;
    margin-right: 20px;
}
.testBtn {
    padding:12px 20px;
    border: none;
    border-radius: 22px;
}


.page2Block {
    margin: 0px 0px 10px;
}

.MasteryAverageTextBox {
    width: 60px;
    height: 35px;
    font-size: .9rem;
    text-align: center;
    border-radius: 18px;
}
.MasteryAverageText {
    width: 150px;
    font-size: 1.1rem;
    margin-bottom: 5px;
}
.MasteryAverageContainer {
    display: inline-block;
    margin: 10px;
}

.avgAccuracyRecallBlock {
    
}
.bottomNavBtns {
    display:flex;
    align-items: center;
    margin: 40px 30px;
}
.backbtn {
    font-size: 1.8rem;
    border: none;
    background-color: black;
    font-weight: bolder;
    
    background: linear-gradient(to right, rgb(36, 119, 243) , rgb(36, 243, 206));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.moreTestingRequired {
    text-align: center;
    font-size: 1.5rem;
}