.aboutPageContainer {
    margin: auto;
    width: 80vw;
}
.aboutPageTitle {
    font-size: 2.5rem;
    margin: 20px 0px 0px 0px;
}
.aboutPageContent {
    height: calc(100vh - 128px);
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}


.aboutBg {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0px;
    height: 0px;
    z-index: -1;
}

.dotsAbout {
    position: fixed;
    left: 310px;
    top: 3px;
    height: 550px;

    transform-origin: top left;
    transform: rotate(90deg);
}


@media screen and (min-width: 900px) {
    .aboutPageContainer {
        display: flex;
        width: auto;
    }
    .aboutPageTitle {
        width: 17vw;
        font-size: calc(3.5vw * 1.25);
        margin-top: 0px;
        padding: 20px 0px 0px 40px;
    }
    .aboutPageContent {
        width: 66vw;
        height: calc(100vh - 57px);
    }
}