.flashcardTestingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    margin-top: 12px;
}
.flashcardCardDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: calc(100vh - 280px);
    margin: 20px
}
.flashcardInteractArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 100px;
    position: fixed;
    bottom: 20px;
}
.flashcardCardDisplay, .flashcardInteractArea {
    border: 1px solid white;
    border-radius: 20px;
    background-color: black;
    z-index: 5
}

.flashcardGameStartBtn {
    font-size: 1.4rem;
    width: 100%;
    height: 100%;
    border: none;
}





.flashcardsBg {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0px;
    height: 0px;
    z-index: -1;
}

.dotsFlashcards {
    position: fixed;
    height: 550px;
    bottom: -70px;
    left: 10px;
}

.botFlashcards {
    position: fixed;
    width: 105vw;
    bottom: -50px;
    left: -5px;

    /* position: fixed;
    width: 105vw;
    bottom: -50px;
    left: -5px; */
}

.botFlashcards2 {
    position: fixed;
    left: 0px;
    bottom: 0px;
    background-image: linear-gradient(to right, rgba(36, 119, 243, 1) , rgba(36, 243, 206, 1));
    width: 100%;
    height: 90px;
}