.flashcardsBg {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0px;
    height: 0px;
    z-index: -1;
}

.dotsFlashcards {
    position: fixed;
    height: 550px;
    bottom: -70px;
    left: 10px;
}

.botFlashcards {
    position: fixed;
    width: 105vw;
    bottom: -50px;
    left: -5px;
}