.flashcardsBg {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0px;
    height: 0px;
    
}

.dotsFlashcards {
    position: fixed;
    height: 550px;
    bottom: -70px;
    left: 10px;
}