.containerProfile {
    display: flex;
    justify-content: center;
    padding: 60px 20px 0px;
}

.contentProfile {
    display: flex;

    width: 1200px;
    height: 80vh;
    min-height: 550px;

    color: white;
    background-color: black;

    border: 2px solid white;
    border-radius: 25px;
}

.profilePageSections {
    width: 100%;
    margin: 0rem 1rem;
    padding-top: 3rem;
}








.profileNoteInfoBubble {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    padding: 1rem 1.5rem;
    margin-bottom: 1rem;

    border: 1px solid white;
    border-radius: 35px;
}

.profileNoteInfoTitle{
    font-size: 1.5rem;
    font-weight: bold;
}
.profileNoteInfoHr {
    width: 100%;
    border: none;
    border-top: 2px dashed white;
}
.profileNoteInfoCheck {
    width: 2rem;
}
.profileNoMasteies {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: rgb(146, 146, 146);
    border-style:dashed;
}
.profileNoMasteriesText {
    color: rgb(146, 146, 146);
    white-space: nowrap;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}



.profileSettingsContainer {
    position: relative;
    height: 85%;
    text-align: center;
}
.profileLogOutBtn {
    width: 85%;
    background-image: linear-gradient(to right, rgb(36, 119, 243) , rgb(36, 243, 231));
}
.profileResetBtn {
    width: 85%;
    background-image: linear-gradient(to right, rgb(243, 210, 36) , rgb(243, 123, 36));
    margin: 10px auto 20px;
}
.profileDeleteBtn {
    width: 85%;
    background-image: linear-gradient(to right, rgb(243, 36, 111) , rgb(243, 36, 36));
}

.profileDeleteBtn:disabled, .profileResetBtn:disabled {
    color: rgb(110, 110, 110);
    background-image: none;
    background-color: rgb(47, 47, 47);
}

.profileDeleteBtn, .profileResetBtn, .profileLogOutBtn {
    color: white;
    font-size: 25px;

    padding: 20px 10px;

    border: none;
    border-radius: 12px;
}





.profileDangerZoneContainer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 220px;
    padding: 0px 0px 20px;
    
    border: 1px solid white;
    border-radius: 20px;

    text-align: center;

}
.profileDangerZoneControl {
    position: relative;
    bottom: 20px;

    float: left;

    margin-left: 8%;
    padding: 4px 10px;
    
    background-color: black;
}
.dangerZoneTitle {
    font-size: 1.4rem;
    font-weight: bold;
    margin-right: .8rem;
}
.dangerZoneCheck {
    background-color: black;
    border: white;
}




.profilePageProfileImgAndNameContainer {
    display: inline-block;
    position: absolute;
    top: 75px;
    height: 90px;

    min-width: 100px;
    max-width: 90vw;
    margin-left: 30px;
    padding: 0px 10px;

    background-color: black;
    text-overflow: ellipsis;
}

.profilePageProfileImg {
    display: inline;
    position:relative;

    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.profilePageUsernameHeading {
    display: inline;
    position:relative;
    bottom: 20px;

    font-size: 3.5rem;
    margin: 0px;
}








.profileBg {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0px;
    height: 0px;
    z-index: -1;
}

.dotsProfile {
    position: fixed;
    left: 400px;
    height: 550px;

    transform-origin: top left;
    transform: rotate(90deg);
}

.botProfile {
    position: fixed;
    width: 105vw;
    bottom: 0px;
    left: -5px;
}

@media screen and (max-width: 950px) {
    .contentProfile { flex-direction: column; margin: 0px 10px 10px; height: auto; padding-bottom: 10px; }
    .profilePageSections { width: calc(100% - 2.4rem); }
    .profileDangerZoneContainer {
        position:static;
        margin: 40px auto 8px;
    }
}

@media screen and (max-width: 650px) {
    .contentProfile { width: 100%; }
    .profilePageProfileImgAndNameContainer { top: 95px; height: 50px; }
    .profilePageProfileImg { width: 50px; height: 50px; margin-right: 10px; }
    .profilePageUsernameHeading { bottom: 15px; font-size: 2rem; }
    .profileNoteInfoBubble { padding: .5rem 1.5rem; }
    .profilePageSections { padding-top: 1.5rem; }
}

@media screen and (max-width: 500px) {
    .profilePageUsernameHeading { display: none; }
    .profilePageProfileImgAndNameContainer { min-width: 20px; }
    .profilePageProfileImg { margin-right: 0px; }
}

@media screen and (max-width: 380px) {
    .profileResetBtn, .profileDeleteBtn { font-size: .8rem; margin: 10px auto 10px;}
    .profileDangerZoneContainer { height: 180px; }
    .profileDangerZoneControl { bottom: 16px; }
    .dangerZoneTitle { font-size: 1.1rem; }
}