.reviewPageContainer {
    margin: auto;
    width: 80vw;
}
.reviewPageTitle {
    font-size: 2.5rem;
    margin: 20px 0px 0px 0px;
}
.reviewPageContent {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    height: calc(100vh - 57px);
}

.ReviewImage { width: 500px; }

.ReviewImageContainer {
    text-align: center;
    overflow-y: scroll;
    -webkit-mask-image: linear-gradient(90deg, #000 95%, transparent);
}


.dotsReview {
    position: fixed;
    left: 310px;
    top: 3px;
    height: 550px;

    transform-origin: top left;
    transform: rotate(90deg);
    z-index: -1;
}

@media screen and (min-width: 750px) {
    .ReviewImageContainer { overflow-y:auto; }
}


@media screen and (min-width: 900px) {
    .reviewPageContainer {
        display: flex;
        width: auto;
    }
    .reviewPageTitle {
        width: 17vw;
        /* border: 1px solid green; */
        font-size: calc(3.5vw * 1.25);
        margin-top: 0px;
        padding: 20px 0px 0px 40px;
    }
    .reviewPageContent {
        width: 66vw;
    }
}

@media screen and (min-width: 1200px) {
    .ReviewImage { width: 700px; }
}

@media screen and (min-width: 1450px) {
    .ReviewImage {
        width: 900px;
    }
}
@media screen and (max-width: 750px) {
    .dotsReview {
        left: 245px;
        height: 430px;
    }
}