body {
  color: white;
  background-color: black;
  /* background-color: #3756f5; */
}

.displayFlexCenter {
  display: flex;
  justify-content: center;
}

.displayInlineBlock {
  display: inline-block;
}

.positionRelative {
  position: relative;
}

.textAlignCenter {
  text-align: center;
}

.AppContainer {
  display: flex;
  flex-direction: column-reverse;
}

.btnPlain {
  color: white;
  background-color: black;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 25px;
  font-weight: lighter;
}

.btnDisabled {
  border: 2px solid rgb(58, 58, 58);
  color: rgb(136, 136, 136);
}

.btnGradiant {
  color: white;
  background-image: linear-gradient(to right, rgb(36, 119, 243) , rgb(36, 243, 231));

  font-weight: normal;
}

.btnGradiantRound {
  color: white;
  background-image: linear-gradient(to right, rgb(36, 119, 243) , rgb(36, 243, 231));

  font-weight: bold;
}





