body {
  color: white;
  background-color: black;
  /* background-color: #3756f5; */
}

.displayFlexCenter {
  display: flex;
  justify-content: center;
}

.displayInlineBlock {
  display: inline-block;
}

.positionRelative {
  position: relative;
}

.textAlignCenter {
  text-align: center;
}