.displayFlexCenter {
  display: flex;
  justify-content: center;
}

.displayInlineBlock {
  display: inline-block;
}

.positionRelative {
  position: relative;
}

.textAlignCenter {
  text-align: center;
}