.gradientScroll {
    position: absolute;
    top: 18.5vh;
    right: 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 70vh;
    background-image: linear-gradient(rgb(66, 212, 204), rgb(36, 119, 243));
}
.gradientScrollBtn {
    display: flex;
    justify-content: center;
    background: none;
    border: none;
    margin: 3px 0px;
}
.gradientScrollIcons { color: rgba(255, 255, 255, 30%); }
.gradIconOpacity { color: rgb(255, 255, 255); }

@media screen and (max-width: 750px) {
    .gradientScroll { width: 12px; }
    .gradientScrollBtn { display: none; }
}

@media screen and (max-height: 450px) { .gradientScroll { top: 5rem; } }
@media screen and (max-height: 275px) { .gradientScroll { height: 12rem; } }